# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.log
*.pyc
out
gen
node_modules
.DS_Store
Screenshots
Logs
Reports
vassals_local
venv
